
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
			<h1>Department Registration Form</h1>
			<br><br>
			<form action="./deptUrl" method="POST">
				<table>
					<tr><th>Department Id</th><td><input type="number" name="departmentId"></td></tr>
					<tr><th>Department Name</th><td><input type="text" name="departmentName"></td></tr>
					<tr><th>Manager ID</th><td><input type="number" name="managerId" required="" value="" id="managerId"></td></tr>
					<tr><th>Location ID</th><td><input type="number" name="locationId" required="" value="" id="locationId"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
</body>
</html>