
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
			<h1>Employee Registration Form</h1>
			<br><br>
			<form action="./empUrl" method="POST">
				<table>
					<tr><th>Employee Id</th><td><input type="text" name="empid"></td></tr>
					<tr><th>First Name</th><td><input type="text" name="fname"></td></tr>
					<tr><th>Last Name</th><td><input type="text" name="lname"></td></tr>
					<tr><th>Email</th><td><input type="text" name="email"></td></tr>
					<tr><th>Phone</th><td><input type="number" name="phone"></td></tr>
					<tr><th>Hire Date</th><td><input type="text" name="hireDate" required="" value="" id="hireDate"></td></tr>
					<tr><th>Job ID</th><td><input type="text" name="jobId" required="" value="" id="jobId"></td></tr>
					<tr><th>Salary</th><td><input type="text" name="salary" required="" value="" id="salary"></td></tr>
					<tr><th>Commission</th><td><input type="text" name="commission" required="" value="" id="commission"></td></tr>
					<tr><th>Manager ID</th><td><input type="text" name="managerId" required="" value="" id="managerId"></td></tr>
					<tr><th>Department ID</th><td><input type="text" name="departmentId" required=""   value=""  id="departmentId"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
</body>
</html>