
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
			<h1>Region Registration Form</h1>
			<br><br>
			<form action="./region.jsp" method="POST">
				<table>
					<tr><th>Region Id</th><td><input type="text" name="regionId"></td></tr>
					<tr><th>Region Name</th><td><input type="text" name="regionName"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
</body>
</html>