
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor='pink'>
	<center>
			<h1>Programmer TPSC Registration Form</h1>
			<br><br>
			<form action="./userTpsc.jsp" method="POST">
				<table>
					<tr><th>User Id</th><td><input type="text" name="userId"></td></tr>
					<tr><th>User Name</th><td><input type="text" name="userName"></td></tr>
					<tr><th>Email</th><td><input type="text" name="userEmail"></td></tr>
					<tr><th>Programmer Language</th><td><input type="text" name="programmer"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
		<center>
			<h1>Product Registration Form</h1>
			<br><br>
			<form action="./userTpsc.jsp" method="POST">
				<table>
					<tr><th>User Id</th><td><input type="text" name="userId"></td></tr>
					<tr><th>User Name</th><td><input type="text" name="userName"></td></tr>
					<tr><th>Email</th><td><input type="text" name="userEmail"></td></tr>
					<tr><th>Product Manager</th><td><input type="text" name="productManager"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
		<center>
			<h1>Inventory Registration Form</h1>
			<br><br>
			<form action="./userTpsc.jsp" method="POST">
				<table>
					<tr><th>User Id</th><td><input type="text" name="userId"></td></tr>
					<tr><th>User Name</th><td><input type="text" name="userName"></td></tr>
					<tr><th>Email</th><td><input type="text" name="userEmail"></td></tr>
					<tr><th>Inventory Manager</th><td><input type="text" name="inventoryManager"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
</body>
</html>