
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
			<h1>User Registration Form</h1>
			<br><br>
			<form action="./userTpc.jsp" method="POST">
				<table>
					<tr><th>Super User Id</th><td><input type="text" name="superUserId"></td></tr>
					<tr><th>Admin User Id</th><td><input type="text" name="adminUserId"></td></tr>
					<tr><th>Manager User Id</th><td><input type="text" name="managerUserId"></td></tr>
					<tr><th>User Name</th><td><input type="text" name="userName"></td></tr>
					<tr><th>Email</th><td><input type="text" name="userEmail"></td></tr>
					<tr><th>Super Create User</th><td><input type="text" name="superUser"></td></tr>
					<tr><th>Admin Assigned Job</th><td><input type="text" name="adminUser"></td></tr>
					<tr><th>Manager Create Project</th><td><input type="text" name="projectManager"></td></tr>
					<tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
				</table>
			</form>
		</center>
</body>
</html>